.header
  
.body
  %h2 会員情報入力
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :ニックネーム
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "nickname"


    .field
      = f.label :メールアドレス
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :パスワード
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} 文字以上の半角英数字)
      %br/
      = f.password_field :password, autocomplete: "new-password"
      %a ※ 英字と数字の両方を含めて設定してください
      %a パスワードを表示する


    .field
      = f.label :パスワード確認
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"

    .confirmation-sentence
      .--title  本人確認
      .--message  安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
    .name
      %a  お名前（全角）
      .__first
      .__last
    .kana-name
      %a  お名前カナ（全角）
      .__first
      .__last
    .birthday
      .__year
      %a 年
      .__mouth
      %a 月
      .__day
      %a 日
      %a ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

    %a 「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします

    .actions
      = f.submit "Sign up"
    .button
    .registration 登録
    = render "devise/shared/links"



.footer
-#  = render ""
