.wrapper
  .header
    = render "shared/user-header"
    

  .body
    - if resource.errors.any?
      #error_explanation
        %h2
          = I18n.t("errors.messages.not_saved",                 |
            count: resource.errors.count,                       |
            resource: resource.class.model_name.human.downcase) |

    %h1 会員情報入力
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .input-person
        .nickname
          .field
            .title
              %p ニックネーム
              %p.redicon 必須
              - if resource.errors.full_messages.include?("Nicknameを入力してください")
                %span= "　入力必須!"
              - if resource.errors.full_messages.include?("Nicknameは6文字以内で入力してください")
                %span= "　6文字以内!"
            .box
              %br/
              = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder:" 6文字以下の任意"

        .mailaddress
          .field
            .title
              = f.label :メールアドレス
              %p.redicon 必須
              - if resource.errors.full_messages.include?("Eメールを入力してください")
                %span= "　入力必須!"
              - if resource.errors.full_messages.include?("Eメールは不正な値です")
                %span= "　入力不正!"
            .box
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"例) free@market.jp"

        .password
          .contents
            .field
              .title
                = f.label :パスワード
                %p.redicon 必須
                - if resource.errors.full_messages.include?("パスワードを入力してください")
                  %span= "　入力必須!"
                - if resource.errors.full_messages.include?("パスワードは7文字以上で入力してください")
                  %span= "　７文字以上!"
                - if resource.errors.full_messages.include?("パスワードは不正な値です")
                  %span= "　入力不正!"

                - if @minimum_password_length
                  %em
              .box
                %br/
                = f.password_field :password, autocomplete: "new-password", placeholder:" 7文字以上の半角英数字"

          .note
            %a ※ 英字と数字の両方を含めて設定してください

        .confirmation
          .field
            .title
              = f.label :パスワード確認
              %p.redicon 必須
            .box
              %br/
              = f.password_field :password_confirmation, autocomplete: "new-password"

      .input-confirmation
        .sentence
          .title
            %b 本人確認
          .message
            %message__comment 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      
      .input-names
        .names
          .name1
            .title
              %p お名前（全角）
              %p.redicon 必須
              - if resource.errors.full_messages.include?("Last nameを入力してください") || resource.errors.full_messages.include?("First nameを入力してください")
                %span= "　入力必須!"
              - if resource.errors.full_messages.include?("Last nameは不正な値です") || resource.errors.full_messages.include?("First nameは不正な値です")
                %span= "　入力不正!"
            .character-name
              .first
                .first--input
                  .user_first_name
                    =f.text_field :first_name, placeholder:" 例）振間" 
              .last
                .last--input
                  .user_last_name
                    =f.text_field :last_name, placeholder:" 例）太郎" 
          .name2
            .title
              %p  お名前かな（全角）
              %p.redicon 必須
              - if resource.errors.full_messages.include?("Last name kanaを入力してください") || resource.errors.full_messages.include?("First name kanaを入力してください")
                %span= "　入力必須!"
              - if resource.errors.full_messages.include?("Last name kanaは不正な値です") || resource.errors.full_messages.include?("First name kanaは不正な値です")
                %span= "　入力不正!"
            .kana-name
              .first
                .first--input
                  .user_first_name_kana                
                    =f.text_field :first_name_kana, placeholder:" 例）ふりま" 
              .last
                .last--input 
                  .user_last_name_kana
                    =f.text_field :last_name_kana, placeholder:" 例）たろう" 

      .birthday
        .title
          %p 生年月日
          %p.redicon 必須
          - if resource.errors.full_messages.include?("Birthdayを入力してください")
            %span= "　入力必須!"
        .selects
          =f.date_field :birthday
        .message
          %a ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      
      .input-personal
        .infomation
          .title
            %p 住所
            %p.redicon 必須
          .postcode
            %p 郵便番号
            - if resource.errors.full_messages.include?("Address postcodeを入力してください")
              %span= "　入力必須!"
            - if resource.errors.full_messages.include?("Address postcodeは不正な値です")
              %span= "　入力不正!"
            .postcode__number
              = f.fields_for :address do |i| 
                = i.text_field :postcode
                
          .addresses
            .prefecture
              %p 　都道府県
              - if resource.errors.full_messages.include?("Address prefectureを入力してください")
                %span= "　入力必須!"
              = f.fields_for :address do |i| 
                %span= i.text_field :prefecture

            .municipality
              %p 　市町村
              - if resource.errors.full_messages.include?("Address municipalityを入力してください")
                %span= "　入力必須!"
              = f.fields_for :address do |i| 
                %span= i.text_field :municipality

            .address
              %p 　番地
              - if resource.errors.full_messages.include?("Address addressを入力してください")
                %span= "　入力必須!"
              = f.fields_for :address do |i| 
                %span= i.text_field :address

            .apartment
              .apartment__title
                %p 　マンション名
                %p.grayicon 任意
              .apartment__input
                = f.fields_for :address do |i| 
                  = i.text_field :room_number
                

          .phone
            .phone__title
              %p 　電話番号
              %p.grayicon 任意
              - if resource.errors.full_messages.include?("Address phoneは不正な値です")
                %span= "　入力不正!"
            .phone__number
              = f.fields_for :address do |i| 
                = i.text_field :phone


      .button
        .contents
          .contents__message
            %p 「登録する」のボタンを押すことにより、利用規約に同意したものとみなします。
          .contents__registration
            = f.submit '登録する', class: 'contents__registration' 

    .footer
      = render "shared/user-footer"

