.wrapper
  .header
    = render "shared/user-header"
  .body
    %h1 会員情報入力
    = form_for(current_user) do |f|
      .input-person
        .nickname
          .field
            .title
              %p ニックネーム
              %p.redicon 必須
            .box1
              %br/
              = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder:" 6文字以下の任意"

        .mailaddress
          .field
            .title
              = f.label :メールアドレス
              %p.redicon 必須
            .box1
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"例) free@market.jp"

        .password
          .contents
            .field
              .title
                = f.label :パスワード
                %p.redicon 必須
                - if @minimum_password_length
                  %em
              .box1
                %br/
                = f.password_field :password, autocomplete: "new-password", placeholder:" 7文字以上の半角英数字"

          .note
            %a ※ 英字と数字の両方を含めて設定してください

        .confirmation
          .field
            .title
              = f.label :パスワード確認
              %p.redicon 必須
            .box1
              %br/
              = f.password_field :password_confirmation, autocomplete: "new-password"

      .input-confirmation
        .sentence
          .title
            %b 本人確認
          .message
            %message__comment 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      
      .input-names
        .names
          .name1
            .title
              %p お名前（全角）
              %p.redicon 必須
            .character-name
              .first
                .first--input
                  .user_first_name
                    =f.text_field :first_name, placeholder:" 例）振間" 
              .last
                .last--input
                  .user_last_name
                    =f.text_field :last_name, placeholder:" 例）太郎" 
          .name2
            .title
              %p  お名前かな（全角）
              %p.redicon 必須
            .kana-name
              .first
                .first--input
                  .user_first_name_kana                
                    =f.text_field :first_name_kana, placeholder:" 例）ふりま" 
              .last
                .last--input 
                  .user_last_name_kana
                    =f.text_field :last_name_kana, placeholder:" 例）たろう" 

      .birthday
        .title
          %p 生年月日
          %p.redicon 必須
        .selects
          =f.date_field :birthday
        .message
          %a ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

      .button
        .contents
          .contents__message
          .contents__registration
            = f.submit '編集する', class: 'contents__registration' 

  .purchase-footer
    .purchase-footer__link
      = link_to "プライバシーポリシー"
      = link_to "FURIMA 利用規約"
      = link_to "特定商取引に関する表記"
    .purchase-footer__logo
      = link_to image_tag("logo.png", size: "200x50", alt: "サンプル画像"), root_path

