.wrapper
  .header
    = render "shared/header"

  .mypage
    = render "shared/mypage-side"

    .main
      .main-left
        .block
          .profile
            .users-info
              .users-info__icon
              .users-info__name
                = current_user.nickname
            .sub-info
              .assessment
                .assessment__title
                  評価
                .assessment__num
                  未実装
              .exhibit
                .exhibit__title
                  出品数
                .exhibit__num
                  = @user.items.length
        .contents
          .news
            お知らせ
          .todo
            やることリスト
        .main-left__list
          %ul
            %li 事務局から個別メッセージ「《500円分のポイントが必ずもらえる》友達招待のお知らせ」  1日前
            %li 事務局から個別メッセージ「新型コロナウイルス拡大に伴う衛生マスク出品禁止について」 3日前
            %li 《まもなく終了》販売手数料実質"無料"についてはこちら！   　　　　　　　　　　　　　　 7日前
            %li 《お得がいっぱい♪》まずは参加ボタンをタップ！ 　　　　　　　　　　　　　　　　　　 8日前
            %li 事務局から個別メッセージ「ログイン通知」  　　　　　　　　　　　　　　　　　　　　10日前
            %li 初出品ありがとうございます！5品出品すると売れる確率が80%まで上がるというデータがあります。もう少し出品してみませんか？　　　　　　　　　　　　　　　　　　　　　　12日前

  %aside.appBanner
    .inner
      %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
      %p.inner__text 今すぐ無料ダウンロード！
      .inner__icon
        = link_to image_tag("appstore.jpeg", alt: "サンプル画像"), "aBtn"
        = link_to image_tag("googleplay.png", alt: "サンプル画像"), "gBtn"

.footer
  = render "shared/footer"