.wrapper
  .header
    = render "shared/header"

  .mypage
    = render "shared/mypage-side"

    .main
      .main-left
        .block
          .profile
            .users-info
              .users-info__icon
              .users-info__name
                = current_user.nickname
            .sub-info
              .assessment
                .assessment__title
                  評価
                .assessment__num
                  未実装
              .exhibit
                .exhibit__title
                  出品数
                .exhibit__num
                  = @user.items.length
        .contents
          .news
            お知らせ
          .todo
            やることリスト
        .main-left__list
          %ul
            %li 事務局から個別メッセージ「《500円分のポイントが必ずもらえる》友達招待のお知らせ」  1日前
            %li 事務局から個別メッセージ「新型コロナウイルス拡大に伴う衛生マスク出品禁止について」 3日前
            %li 《まもなく終了》販売手数料実質"無料"についてはこちら！   　　　　　　　　　　　　　　 7日前
            %li 《お得がいっぱい♪》まずは参加ボタンをタップ！ 　　　　　　　　　　　　　　　　　　 8日前
            %li 事務局から個別メッセージ「ログイン通知」  　　　　　　　　　　　　　　　　　　　　10日前
            %li 初出品ありがとうございます！5品出品すると売れる確率が80%まで上がるというデータがあります。もう少し出品してみませんか？　　　　　　　　　　　　　　　　　　　　　　12日前

.mypage-footer
  %ul.contents
    %li.content
      %h2.content__head FURIMAについて
      %ul
        %li
          = link_to "#" do
            会社概要（運営会社）
        %li
          = link_to "#" do
            プライバシーポリシー
        %li
          = link_to "#" do
            FURIMA利用規約
        %li
          = link_to "#" do
            ポイントに関する特約

    %li.content
      %h2.content__head FURIMAを見る
      %ul
        %li
          = link_to "#" do
            カテゴリー一覧
        %li
          = link_to "#" do
            ブランド一覧

    %li.content
      %h2.content__head ヘルプ＆ガイド
      %ul
        %li
          = link_to "#" do
            FURIMAガイド
        %li
          = link_to "#" do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to "#" do
            お知らせ

  .footer__logo
    = link_to image_tag("logo-white.png", width: '140px', height: '40.55px', alt: "サンプル画像"), root_path
    %p ©︎ FURIMA


= link_to new_item_path do
  .purchaseBtn
    %span.purchaseBtn__text 出品する
    = image_tag "icon_camera.png"