%ul.content__credit-credits__list
  %li.cards
    = form_with url: credit_path(@credit.id), method: :delete, local: true, id: 'charge-form' do |f|
      .content__credit-credits__list--pay-num
        = "**** **** **** " + @credit_information.last4
      .content__credit-credits__list--pay-num
        - exp_month = @credit_information.exp_month.to_s
        - exp_year = @credit_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year
      %figure.logo
        = image_tag "credit-cards/#{@credit_src}", width: '26', height: '20', alt: @credit_brand, id: "credit_image"
      %input{type: "hidden", name: "credit_id", value: ""}
      = f.submit "削除する", {class: "content__credit-credits__list__remove"}