.headerInner
  .mainHeader
    %h1.icon
      = link_to image_tag("logo.png", width: '140px', height: '40.55px', alt: "サンプル画像"), root_path
    .searchBox
      = form_with(url: search_items_path, local: true, method: :get, class: "searchBox__keyword-form") do |f|
        = f.text_field :keyword, value: @search_params, placeholder: " 何かお探しですか？", class: "searchBox__keyword-form"
        -# = f.text_field :key, class:"searchBox--input", id:"searchInput", placeholder:"キーワードから探す"
        = button_tag type: :submit do
          .searchBox__icon
            = image_tag "icon-search1.png"
        

    %ul.resultLists
  .nav
    %ul.listsLeft
      %li.listsLeft__item.listsLeft__item--first
        = link_to "カテゴリー", root_path
        %ul.first
          - @parents.each do |parent|
            %li.first__parent
              = link_to subshow_items_path(parent.id) do
                = parent.name
              %ul.second
                - parent.children.each do |child|
                  %li.second__child
                    = link_to subshow_items_path(child.id) do
                      = child.name
                    %ul.third
                      - child.children.each do |grandchild|
                        %li.third__grandchild
                          = link_to subshow_items_path(grandchild.id) do
                            = grandchild.name

      -# %li.listsLeft__item
      -#   = link_to "ブランド", "#"
    - if user_signed_in?
      %ul.listsRight
        %li.listsRight__item.listsRight__item--login
          = link_to "マイページ", user_path(current_user.id)
        %li.listsRight__item.listsRight__item--new
          = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      %ul.listsRight
        %li.listsRight__item.listsRight__item--login
          = link_to "ログイン",  "users/sign_in"
        %li.listsRight__item.listsRight__item--new
          = link_to "新規登録",  "users/sign_up"