.headerInner
  .mainHeader
    %h1.icon
      = link_to image_tag("logo.png", width: '140px', height: '40.55px', alt: "サンプル画像"), root_path
    .searchBox
      = form_with url:root_path do |f|
        = f.text_field :key, class:"searchBox--input", id:"searchInput", placeholder:"キーワードから探す"
        = button_tag type: :submit do
          .searchBox__icon
            = image_tag "icon-search1.png"
        

    %ul.resultLists
  .nav
    %ul.listsLeft
      %li.listsLeft__item.listsLeft__item--first
        = link_to "カテゴリー", "#"
      %li.listsLeft__item
        = link_to "ブランド", "#"
    %ul.listsRight
      %li.listsRight__item.listsRight__item--login
        = link_to "ログイン", "#"
      %li.listsRight__item.listsRight__item--new
        = link_to "新規会員登録"