.wrapper
  .header
    = render "shared/header"

  .mypage
    = render "shared/mypage-side"
    .main
      .content__title
        %h2 支払い方法
      .content__credit-credits
        %h3 クレジットカード一覧
        - if @credit.present?
          = render 'shared/card_info'
        - else
          %br
          %br
          ※クレジットカードは、現在登録されていません
          = link_to "クレジット新規登録", new_credit_path, class:"submit-btn"
          = link_to "戻る", user_path(current_user), class:"submit-btn__white"

