.wrapper
  .header
    = render "shared/header"

  .mypage
    = render "shared/mypage-side"
    .main
      .content__title
        %h2 クレジットカード情報入力
      .content__credit-card
        .content__credit-card__inner
          = form_with url: credits_path, method: :post, html: { name: "inputForm" }, class:"card-regist" do |f| # createアクションのパスを指定
            = f.label :カード番号, class: 'label'
            %span.x 必須
            %br
            = f.text_field :card_number, type: 'text', class: 'input-number', placeholder: '半角数字のみ', maxlength: "16"
            %ul.signup-card-list
              %li
                = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?1398199435',size: "49x20"
              %li
                = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?1398199435',size: "34x20"
              %li
                = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?1398199435',size: "30x20"
              %li
                = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?1398199435',size: "32x20"
              %li
                = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?1398199435',size: "21x20"
              %li
                = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?1398199435',size: "31x20"
              %li
                = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?1398199435',size: "31x20"
            .cards-expire
              = f.label :有効期限, class: 'label'
              %span.x 必須
              %br
              .cards-wrapper
                .cards-expire__wrap
                  = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'input-expire'
                  %span.expire-text 月 ／ 
                .cards-expire__wrap
                  = f.select :exp_year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'input-expire'
                  %span.expire-text 年
            .cards-expire
              = f.label :セキュリティコード, class: 'label'
              %span.x 必須
              %br
              = f.text_field :cvc, type: 'text', class: 'input-number', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
            .content-bottom#card_token
              = f.submit '追加する', class: 'content-bottom--add-btn', id: 'token_submit'
              = link_to "戻る", credits_path(current_user), class:"submit-btn__white"
  %aside.appBanner
    .inner
      %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
      %p.inner__text 今すぐ無料ダウンロード！
      .inner__icon
        = link_to image_tag("appstore.jpeg", alt: "サンプル画像"), "aBtn"
        = link_to image_tag("googleplay.png", alt: "サンプル画像"), "gBtn"

  .footer
    = render "shared/footer"
// -# ↓↓↓ submitボタンを押された時にトークンを作成する処理
:javascript
  document.addEventListener(
  "DOMContentLoaded", (e) => {
    Payjp.setPublicKey(ENV['PAYJP_OPEN_KEY']);
    //上記にてテスト公開鍵を入力してある
    const btn = document.getElementById('token_submit'); //IDがtoken_submitの場合に取得されます
    btn.addEventListener("click", (e) => {  //ボタンが押されたときに作動します
      e.preventDefault();  //ボタンを一旦無効化します

      //カード情報生成
      const card = {
        number: document.getElementById("card_number").value,
        cvc: document.getElementById("cvc").value,
        exp_month: document.getElementById("exp_month").value,
        exp_year: document.getElementById("exp_year").value
      }; //入力されたデータを取得します。

      //トークン生成
      Payjp.createToken(card, (status, response) => {
        if (status === 200) { //成功した場合
          $("#card_number").removeAttr("name");
          $("#cvc").removeAttr("name");
          $("#exp_month").removeAttr("name");
          $("#exp_year").removeAttr("name"); //カード情報を自分のサーバにpostせず削除します
          $("#card_token").append(
            $('<input type="hidden" name="payjp-token">').val(response.id)
          ); //トークンを送信できるように隠しタグを生成
          document.inputForm.submit();
          alert("登録が完了しました"); //確認用
        } else {
          alert("カード情報が正しくありません。"); //確認用
        }
      });
    });
  },false);