.wrapper
  = render "shared/user-header"

  .login-main
    .login-panel
      .register
        アカウントをお持ちでない方はこちら
        .register__register-btn
          - if devise_mapping.registerable? && controller_name != 'registrations'
            = link_to "新規会員登録", new_registration_path(resource_name)
      -# .sns-api
      -#   .sns-api__facebook-btn
      -#     = link_to "https://www.facebook.com/", class: "contents__btn" do
      -#       = icon('fab', 'facebook-square', "Facebookでログイン")
      -#   .sns-api__google-btn
      -#     = link_to "https://www.facebook.com/", class: "contents__btn" do
      -#       = icon('fab', 'fab fa-google', "Googleでログイン")
      .forms
        .forms__address-form
          %input#address-input-field.address-form__input{:placeholder => "メールアドレス", :type => "text"}/
        .forms__pass-form
          %input#pass-input-field.pass-form__input{:placeholder => "パスワード", :type => "text"}/
        .actions
          = submit_tag "ログイン", class: "login-btn"
        - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
          = link_to "パスワードをお忘れの方", new_password_path(resource_name), class: "forget-link"

  = render "shared/user-footer"
あああああ