.wrapper
  .header
    = render "shared/header"
  .p-show
    .p-show-main
      .main-title
        .main-title__title
          ご購入の確認
      .main-info
        .info
          .info__photo
            - @itemimages.each do |i|
              = image_tag i.image.url
              - if i.present?
                - break
          .name-and-price
            .name
              = simple_format(@item.name)
            .price
              = @item.price
              .price__tax
                (税込)
              .price__postage
                送料込み
      .main-price
        .main-price__title
          支払い金額
        .main-price__result
          ￥ 
          = @item.price
      .main-buy
        .method
          .method__title
            支払い方法
          .method__result
            .user-info-text
              - if @credit_information.blank? 
                = link_to "カード情報を登録", credits_path, class:"user-info-change"
              - else
                = "**** **** **** " + "#{@credit_information.last4}"
                %br
                - exp_month = @credit_information.exp_month.to_s
                - exp_year = @credit_information.exp_year.to_s.slice(2,3)
                = "有効期限 " + exp_month + " / " + exp_year
                %br
                = image_tag "credit-cards/#{@credit_src}", width: '26', height: '20', alt: @credit_brand
            - if @credit_information.present? 
              = link_to "　変更する", credits_path, class:"user-info-change"
      .main-adress
        .place
          .place__title
            配送先住所
          .place__result
            = @address.prefecture
      .buy-btn
        - if @credit_information.blank?
          %p.no_card ※購入前に、クレジットカードの登録をお願いします
        - else 
          = form_tag(action: :pay, method: :post) do
            %button{type:"submit", id:"buy__btn"} 購入する(確定)
  .footer
    = render "shared/user-footer"
