.wrapper
  .header
    = render "shared/header"
  .p-show
    .p-show-main
      .main-title
        .main-title__title
          ご購入の確認
      .main-info
        .info
          .info__photo
            - @itemimages.each do |i|
              = image_tag i.image.url
          .name-and-price
            .name
              = simple_format(@item.name)
            .price
              = @item.price
              .price__tax
                (税込)
              .price__postage
                送料込み
      .main-price
        .method
          .method__title
            支払い方法
          .method__result

            
      .main-adress
        .place
          .place__title
            配送先住所
          .place__result

      = form_tag action: :pay, method: :post ,class:"btn" do
        :plain
          <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_744dfea221cdd9194fe212b5"></script>

  .footer
    = render "shared/user-footer"
