%header.pcHeader
  = render "shared/header"

.search-result
  .search-main
    .result-box
      - if @search_params.empty?
        .niltitle
          キーワードを入力して、再度検索をしてください
      - if @search_params.present? && @count == 0
        .title
          .head
            =@search_params
            .text
              の検索結果
              %br/
              該当する商品が見つかりません。検索条件を変えて、再度お試しください。
        .title
        = render "item-search"
      - if @search_params.present? && @count >= 1 
        .title
          .head
            =@search_params
            .text
              の検索結果
          .number
            = "#{@count}件表示"
        = render "item-search"

.footer
  = render "shared/footer" 