%header.pcHeader
  = render "shared/header"

.search-result
  .search-main
    .result-box
      - if @search_params.empty?
        .title
          %h3.new 新着一覧
        = render "item-search"
        = paginate(@items)
      - if @search_params.present? && @count == 0
        .title
          %h3 
            =@search_params
            を検索した結果、該当する商品が見つかりませんでした。
        .title
          %h3.new 新着一覧
        = render "item-search"
      - if @search_params.present? && @count >= 1 
        .title
          %h3 
            =@search_params
            の検索結果
          .number
            = "HIT商品：#{@count}件"
        = render "item-search"

.footer
  = render "shared/footer"