.wrapper
  .header
    = render "shared/header"

  .show
    .show-main
      .main-title
        .main-title__title
          = @item.name
      .main-details
        .photo
          .slider-for
            - @itemimages.each do |i|
              = image_tag i.image.url
          .slider-nav
            - @itemimages.each do |i|
              = image_tag i.image.url

        .contents
          %ul
            %li 
              .item
                出品者
              .result
                = @item.user.nickname
            %li
              .item
                カテゴリー
              .result-c
                =link_to @category.parent.parent.name,"#"
                %br
                ＞
                =link_to @category.parent.name,"#"
                %br
                ＞
                =link_to @category.name,"#"

            %li
              .item
                ブランド
              .result
                = @item.brand
            %li
              .item
                商品の状態
              .result
                = @item.condition
            %li
              .item
                配送料の負担
              .result
                = @item.postage
            %li
              .item
                配送元地域
              .result
                = @item.area
            %li
              .item
                配送日の目安
              .result
                = @item.day
      .main-price
        .main-price__yen
          ¥
        .main-price__price
          = @item.price
        .others
          .others__tax
            (税込)
          .others__postage
            (送料込み)
      -if user_signed_in?
        -if @item.user_id == current_user.id
          .buyer
            = link_to edit_item_path(@item) do
              .item-edit-btn 編集
            .space
            = link_to item_path(@item),method: :delete do
              .item-stop-btn 削除
        -else 
          -if @item.status == 1
            = link_to purchase_items_path(@item) do
              .item-buy-btn 購入画面に進む
          -else
            .item-buy-btn-sold 売り切れました
      -else
        -if @item.status == 1
          = link_to new_user_session_path(@user) do
            .item-buy-btn 購入画面に進む
        -else
          .item-buy-btn-sold SOLD OUT
      .comment
        %b 
        = @item.explanation
      .space
      .show-chat
        .chat-attention
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .chat-main
          
        .chat-form
          %b 
            = simple_format(h(""))

        .chat-btn
          コメントする

        .chat-box
    
  %aside.appBanner
    .inner
      %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
      %p.inner__text 今すぐ無料ダウンロード！
      .inner__icon
        = link_to image_tag("appstore.jpeg", alt: "サンプル画像"), "aBtn"
        = link_to image_tag("googleplay.png", alt: "サンプル画像"), "gBtn"


.footer
  = render "shared/footer"